//fonts
$font-title: 'Merriweather', serif;
$font-content: 'Space Mono', monospace;
$font-nav: 'Roboto', sans-serif;

//color
$color-dark: rgb(0, 0, 0);
$color-gray:  rgb(235, 229, 229);
$color-light: rgb(255, 254, 250);
$color-primary: rgba(4, 99, 99, 0.932);
$color-secundary: rgb(7, 151, 151);